* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana,sans-serif;
}
/*------------------------Messages (warning) -----------------------*/

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.alert {
    width: 100%
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
}

.alert-danger{
   background-color: #f44336; /* Red */
}
.alert-success{
    background-color: #8cff66; /* Green */
}

/* --------------------------Header------------------------------- */
.header {
    background-color: #ffffff;
    text-align: center;
}
IMG.logo{
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* -------------- Navigation Bar ------------------- */
.nav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.nav_item_left,.LogStat_dropdown {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* ----Left Nav----*/
.nav_item_left {
    float: left;
}
/* Change the link color to #111 (black) on hover */
.nav_item_left:hover{
    background-color: #111;
}


/*----Right nav-----*/
.LogStat_dropdown {
    overflow: hidden;
    float: right;;
}

/* Dropdown Content (Hidden by Default) */
.LogStat_dropdown_content {
    display: none;
    position: absolute;
    background-color: #747474;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(87, 95, 84, 0.64);
    z-index: 1;
    margin-top: 12px;
    float: none;

}
/* Links inside the dropdown */
.LogStat_dropdown_content a {
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.LogStat_dropdown_content a:hover {
    background-color: #f9f9f9;
    color: #2a2a2a;
}
/* Show the dropdown menu on hover */
.LogStat_dropdown:hover .LogStat_dropdown_content {
    display: block;
}
.icon_Cart{
    width: 20px;
    float: left;
}



/*-----------------Footer-------------------*/
.footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.icon{
    width: 20px;
    float: right;
    margin: 2px;
}

#copywrite{
    color: grey;
}

/*--------------------Main Content For About---------------*/
#main_img{
    position:relative;
    max-width: 100%;
    height: auto;
    opacity: 0.7;
}
/*-----About-----*/
#who{
    background-color: #e0e0fa;
    height: auto;
    position: relative;
    padding: 10%;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: white;
}

.title {
    color: grey;
    font-size: 18px;
}

#contact {
    border: none;
    text-decoration: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}



#contact:hover, .link:hover {
    opacity: 0.7;
}

/*----news----*/
#news{
    height: 100vh;
    background-color: #e6b8d7;
    position: relative;
}
#gallery{
    height: 100vh;
    background-color: #8ee6d8;
    position: relative;
}
.section_label{
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-style: oblique;
}

/*-----------------------------------*/

/*-----------------LoginOverlayer------------------*/

#overlayer {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


body {
    margin: 0;
    font-family: Verdana,sans-serif;
}

h2{
    margin: 30px;
}

#login_box{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:auto;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 5px;
}

#pwforgot{
    font-size: small;
    font-style: oblique;
    color: #333;
}

form{
    margin-left: 20%;
}

.lables{
    margin-bottom: 0;
}

.form-control{
    border: none;
    height: 30px;
    width: 60%;
    background-color: #c7c7c7;
    margin-top: 5px;

}

#submitButton{
    background-color: white;
    border: 2px solid #333;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 2px;
    width: 60%;
}
#submitButton:hover {
    background-color: #333;
    color: white;
}

#Button{
    background-color: white;
    border: 2px solid #b3b3b3;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 2px;
    width: 60%;
}
#Button:hover {
    background-color: #b3b3b3;
    color: white;
}

.turnOff_btn {
    width: 10px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: right;
}

.reg_link{
    display: block;
    margin: 20px;
    margin-left: 20%;

    font-style: oblique;
    color: #333;
}
/*-----------------------------------*/
/*--------------Register--------------------------------*/

.registerbox{
    display: block;
    margin-left: 20%;
    height: 100%
}

/*-----------------------------------*/
/*--------------ShopContent---------------------*/

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 15%;
}

/* Middle column */
.column.middle {
    padding-top: 50px;
    width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Gallery */
div.gallery {
    margin: 15px;
    float: left;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border-radius: 8px; */ /*Bild kann nicht abrunden?! ToDO*/
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
}

/*-----------------------------------*/



/*-----------------ProductLayout----------------*/

.column-left, .column-right {
    float: left;
}

/* Left and right column */
.column-left {
    width: 55%;
}

/* Middle column */
.column-right {
    width: 45%;
}

/* Clear floats after the columns */
.mainContent:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}


/*-------------------------SlideShow-------------------*/

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    display: block;
    margin: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



/* Remove bottom margin. Needed for some browsers */
img{
    margin-bottom: -4px;
}
/* Because ist gets overwritten and im to lazy to rewrite now..*/
img.logo{
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/*-------------------------ProductDes-----------------------*/

.column-right form{
    width: 90%;
    float: left;
    margin-top: 12%;
    margin-bottom: 20px;
}
.product_description{
    width: 100%;
    display: block;
    margin: 20px;
    padding: 10px;
}

/* --- General Infos ----*/
.product_name, .product_price{
    margin: 0;
}

.product_name{
    font-size: xx-large;
}
.product_price{
    font-size: x-large;
    color: #4b4b4b;
}

/* --- toChoose Infos ----*/

.color_option{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}
.product_options select{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #333;
    color: white;
    border: 2px solid white;
    width: 60px;
    height: 35px;

}
.color{
    display: inline;

}
.color img{
    width: 10px;
    margin: 5px;
}

.color img:hover{
    width: 15px;
    box-shadow: 0px 8px 16px 0px rgba(180, 188, 181, 0.64);
}

/* --- Button ----*/
.AddToCart {
    background-color: white;
    border: 2px solid #333;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 20px;

    float: right;
    margin-right: 30%;
}
.AddToCart:hover {
    background-color: #333;
    color: white;
}

/*-----------------End ProductLayout----------------*/


/*--------ProfileOptionsLayout--------------*/

h2{
    margin-left: 10%;
    margin-top: 50px;
}

.btn_box{
    margin-left: 15%;
    height: 100vh;
    width: 75%;
}

.btn{
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width: 350px;
    margin: 2%;
}
.btn:hover {
    background-color: #e7e7e7;
}
.btn_icon {
    width: 40px;
    float: left;
    margin: 5%;
}
.btn_column{
    width: 60%;
    float: right;
    text-align: left;
}
.btn_title{
    font-size: x-large ;
}
.btn_description{

}
/*---------End ProfileOptionsLayout-------------*/