/*--------------ShoppingCart--------------------------------*/
.cart{
    margin: 5%;
}

.cartWrap{
    list-style-type: none;
    width: 100%;
    padding: 10%;
    padding-top: 5%;
}

.items{
    border: solid 1px rgba(86, 86, 86, 0.51);
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: table;
    background-color: rgba(86, 86, 86, 0.51);
    margin-bottom: 1%;
    padding: 5px;
}
.items:hover{
    background: #fdfdfd;
}

.items img{
    position: relative;
    display: table-cell;
    float: left;
    height: 200px;
    width: auto;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.infoWrap{
    height: auto;
    width: 30%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.removeWrap{
    text-align: right;
    position: relative;
    display: table-cell;
}

.final{
    padding: 20px;
    float: right;
}

.final p{
    margin: 4px;
}

.linkIc2{
    text-decoration: none;
    color: black;
}
.remove{
    font-size: large;
    text-decoration: none;
    cursor: pointer;
}
.changeAlert{
    padding: 10px;
    background-color: red;
    color: white;
    margin-left: 10%;
    width:60%;
}
/*-----------------------------------*/