* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana,sans-serif;
    background-color: rgba(167, 167, 167, 0.2);
}

.titel{
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: xx-large;
    margin-top: 50px;
}

.info{
    font-style: italic;
}

.container{
    margin: 5%;
    min-height: 60vh;
}

/*------------------------Messages (warning) -----------------------*/

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.alert {
    width: 100%;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
}

.alert-danger{
    background-color: #f44336; /* Red */
}
.alert-success{
    background-color: #8cff66; /* Green */
}

/* --------------------------Header------------------------------- */
.header {
    background-color: #ffffff;
    text-align: center;
}

IMG.logo{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* -------------- Navigation Bar ------------------- */
.nav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
}

.nav_item_left,.LogStat_dropdown, .nav_item_right {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* ----Left Nav----*/
.nav_item_left {
    float: left;
}
/* Change the link color to #111 (black) on hover */
.nav_item_left:hover{
    background-color: #111;
}


/*----Right nav-----*/
.LogStat_dropdown {
    float: right;
}


/* Dropdown Content (Hidden by Default) */
.LogStat_dropdown_content {
    display: none;
    position: absolute;
    background-color: #747474;
    box-shadow: 0px 8px 16px 0px rgba(87, 95, 84, 0.64);
    z-index: 1;
    margin-top: 14px;
    width: inherit;
}
/* Links inside the dropdown */
.LogStat_dropdown_content a {
    color: #f9f9f9;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.LogStat_dropdown_content a:hover {
    background-color: #f9f9f9;
    color: #2a2a2a;
}
/* Show the dropdown menu on hover */
.LogStat_dropdown:hover .LogStat_dropdown_content {
    display: block;
}

.LogStat_dropdown:hover{
    background-color: #747474;
}

.nav_item_right{
    float: right;
}
.nav_item_right:hover{
    background-color: #111;
}


/*-----------------Footer-------------------*/
.footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.linkIc{
    text-decoration: none;
    color: white;
}
.linkIc2{
    text-decoration: none;
    color: black;
}
.icon{
    float: right;
    margin: 4px;
}


a{
    text-decoration: none;
}

#copywrite{
    color: grey;
}

/** -------- Form --------**/

.panel-body{
    width: 80%;
    margin: auto;
    padding: 5%;
   /* border: solid 1px #db3e9f; */
}


.innerform{
    width: 90vh;
    margin:auto;
    padding: 20px;
    background-color: #ffffff;
    /*border: solid 1px #d6db25;*/
    box-shadow: 0px 8px 16px 0px rgba(87, 95, 84, 0.64);
}

.lables{
margin-bottom: 0;
}

/*Input*/
.form-control{
    border: none;
    height: 30px;
    width:100%;
    background-color: #c7c7c7;
    margin-top: 5px;
    margin-bottom: 10px;

}

/* Fehlermeldung*/
.help-block{
    font-style: italic;
    color: rgba(185, 19, 16, 0.78);
}

#submitButton{
    background-color: white;
    border: 2px solid #333;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 2px;
    width: 100%;
}
#submitButton:hover {
    background-color: #333;
    color: white;
}

#Button{
    background-color: white;
    border: 2px solid #b3b3b3;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 2px;
    width: 100%;
}
#Button:hover {
    background-color: #b3b3b3;
    color: white;
}

#pwforgot{
    font-size: small;
    font-style: oblique;
    color: #333;
}