/*-----------------LoginOverlayer------------------*/

#overlayer {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


body {
    margin: 0;
    font-family: Verdana,sans-serif;
}

h2{
    margin: 30px;
}

#login_box{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:auto;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 5px;
}

#pwforgot{
    font-size: small;
    font-style: oblique;
    color: #333;
}

form{
    margin-left: 20%;
}

.lables{
    margin-bottom: 0;
}

.form-control{
    border: none;
    height: 30px;
    width: 60%;
    background-color: #c7c7c7;
    margin-top: 5px;

}

#submitButton{
    background-color: white;
    border: 2px solid #333;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 2px;
    width: 60%;
}
#submitButton:hover {
    background-color: #333;
    color: white;
}

#Button{
    background-color: white;
    border: 2px solid #b3b3b3;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 2px;
    width: 60%;
}
#Button:hover {
    background-color: #b3b3b3;
    color: white;
}

.turnOff_btn {
    width: 10px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: right;
}

.reg_link{
    display: block;
    margin: 20px;
    margin-left: 20%;

    font-style: oblique;
    color: #333;
}
/*-----------------------------------*/
/*--------------Register--------------------------------*/

.registerbox{
    display: block;
    margin-left: 20%;
    height: 100%
}

/*-----------------------------------*/