
.panel-body{
    padding: 15px;
    margin-top: 10px;
    width: 60%;
    background-color: rgba(51, 51, 51, 0.76);
    color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.date{
    font-size: small;
    font-style: italic;
}

.id{
    float: right;
}

.panel-body:hover{
    background: #f9f9f9;
    color: rgba(51, 51, 51, 0.76);
}

.order{
    list-style: none;
}
.orders{
    margin-top: 30px;
}
.price{
    float: right;
}

.box{
    border: solid 1px #f9f9f9;
}
.box:hover{
    border: solid 1px rgba(51, 51, 51, 0.76);
}
.line{
    margin: 1px;
}
.boxTitel{
    font-size: x-large;
}
.adress{
    margin: 5px;
}